@font-face {
  font-family: android ;
  src: url(fontes/idroid.otf);
}
.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui padding e borda no cálculo do tamanho */
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(128, 128, 128);
}
header{
    background-image: linear-gradient(to top, rgb(0, 128, 0), rgb(0, 168, 0), rgb(0, 255, 0));
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px;
}
nav{
    padding-top: 30px;
    text-align: start;
    align-items: baseline;
}
.options{
    margin: 3px;
    color: white;
    background-color: rgb(0, 91, 0);
    border-radius: 30px;
    width: 50%;
    padding: 8px;
    text-decoration: none;
}
.options:hover{
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
    transition-duration: 0.8s;
}
main{
    background-color: white;
    width: 88%;
    max-width: 840px;
    min-width: 300px;
    margin: auto;
    padding: 2%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 6px black;
}
main h1{
    color: rgb(0, 123, 0);
}
main h2{
    font-family: android;
    color: rgb(0, 123, 0);
    background-image: linear-gradient(to right,rgba(0, 222, 0, 0.717),rgba(0, 222, 0, 0.658),rgba(0, 222, 0, 0.521),rgba(0, 222, 0, 0.311),rgba(0, 222, 0, 0.087),rgba(0, 222, 0, 0));
    border-radius: 10px;
    padding: 6px;
}
main img,picture,source{
    display: block;
    margin: auto;
    width: 70%;
}

.video{
  display: block;
    text-align: center;
    background-color: rgb(0, 76, 0);
    margin: 15px 0px;
    width: 100%;
    padding: 20px 0px;
}
.video > iframe{
  display: block;
    width: 90%;
    text-align: center;
    margin: auto;
}

h2#Extrah2{
  background-color: rgb(0, 128, 0);
  color: white;
  border-radius: 7px;
}
main a{
  color: rgb(0, 255, 0);
  text-decoration: none;
  background-color: rgb(0, 111, 0);
  border-radius: 20px;
  padding: 3px;
}
aside{
  background-color: rgb(204, 252, 204);
  padding: 10px;
  border-radius: 10px;
}
aside ul{
  columns: 2;
  list-style-type: disc;
  list-style-position: inside;
}
main p{
    padding: 17px 5px;
    text-indent: 18px;
}
footer{
  background-color: rgb(0, 76, 0);
  text-align: center;
  color: white;
}